<% # Display d saved dashboard %>
<% # Create cards from display options %>
<% # Display charts in cards from charts ids %>

<div class="animated fadeIn">
  <div class="row">
    <% unless @dashboard.options.empty? || @dashboard.options.nil? %>
    <% @dashboard.options.each do |index, section| %>
        <%= render 'section_card', {section: section} %>
    <% end %>
    <% end %>
  </div>
</div>